---
import BaseLayout from '../layouts/BaseLayout.astro';

const ndes = await Astro.glob('../pages/nde/*.mdx');

const famousNDEs = ndes.filter((nde) => (
	nde.frontmatter.tags && nde.frontmatter.tags.includes('famous')
));
const christianNDEs = ndes.filter((nde) => (
	nde.frontmatter.tags && nde.frontmatter.tags.includes('christian')
));
const othersNDEs = ndes.filter((nde) => (
	nde.frontmatter.tags && nde.frontmatter.tags.includes('others')
));
const bulgarianNDEs = await Astro.glob('../pages/nde/bg/*.mdx');

const pages = await Astro.glob('../pages/pages/*.mdx');
---

<BaseLayout title="Преживявания близки до смъртта"
	description="Преживявания близки до смъртта (ПБС)">
	<h1 class="pb-10">Преживявания близки до смъртта</h1>

	<div class="flex flex-wrap -m-4 pb-10 text-start text-sm">
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Известни ПБС</h2>
				<p class="leading-relaxed">
				{famousNDEs.map((nde) => (
					<a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a><span>&comma;&nbsp;</span>
				))}
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Други ПБС</h2>
				<p class="leading-relaxed">
				{othersNDEs.map((nde) => (
					<a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a><span>&comma;&nbsp;</span>
				))}
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Християнски ПБС</h2>
				<p class="leading-relaxed">
				{christianNDEs.map((nde) => (
					<a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a><span>&comma;&nbsp;</span>
				))}
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Български ПБС</h2>
				<p class="leading-relaxed">
				{bulgarianNDEs.map((nde) => (
					<a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a><span>&comma;&nbsp;</span>
				))}
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Книги</h2>
				<p class="leading-relaxed">
					<a href="/books/">Досег до вечния живот</a>
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Страници</h2>
				<p class="leading-relaxed">
				{pages.map((page) => (
					<a href={page.frontmatter.url+"/"}>{page.frontmatter.title}</a><span>&comma;&nbsp;</span>
				))}
					<a href="/ndes/">ПБС Списък</a>
				</p>
			</div>
		</div>
	</div>

	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/zcxSigXdDBw" title="Преживявания близки до смъртта" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
		srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/zcxSigXdDBw?autoplay=1><img src=https://img.youtube.com/vi/zcxSigXdDBw/hqdefault.jpg alt='Video The Dark Knight Rises: What Went Wrong? – Wisecrack Edition'><span>▶</span></a>" allowfullscreen></iframe>
	</div>
</BaseLayout>

<style>
.section-header {
	padding-top: 0.5rem;
	text-align: center;
	font-weight: bold;
    color: #005A9C;
    background-color: #B3DBFF;
}
</style>
