---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props.frontmatter || Astro.props;

const publicURLBase = "https://ndebg.com"
const canonicalURL = new URL(Astro.url.pathname, publicURLBase);
const ogImageURL = publicURLBase + "/images/abstract-light.jpg"

const year = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="bg" prefix="og:http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description“" content={description} />
		<meta property="og:url“" content={canonicalURL} />
		<meta property="og:image" content={ogImageURL} />
		<meta property="og:locale" content="bg" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description“" content={description} />
		<meta property="twitter:url“" content={canonicalURL} />
		<meta property="twitter:image" content={ogImageURL} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen">
		<header id="main-header" class="text-gray-600 body-font">
			<div class="header-top mx-auto flex flex-wrap p-3 flex-col md:flex-row place-content-center">
				<a href="/" class="header-title ml-3 text-xl font-bold">Преживявания близки до смъртта</a>
			</div>
			<div class="header-menu mx-auto flex flex-wrap p-2 flex-col items-center">
				<nav>
					<a href="/about/" class="mr-5 p-2 hover:text-gray-900">Относно</a>
					<a href="/pages/" class="mr-5 p-2 hover:text-gray-900">Страници</a>
					<a href="/books/" class="mr-5 p-2 hover:text-gray-900">Книги</a>
					<a href="/share/" class="mr-5 p-2 hover:text-gray-900">Сподели ПБС</a>
					<a href="/contribute/" class="mr-5 p-2 hover:text-gray-900">Помогни</a>
					<a href="/links/" class="mr-5 p-2 hover:text-gray-900">Връзки</a>
					<a href="/contact/" class="mr-5 p-2 hover:text-gray-900">Контакт</a>
				</nav>
			</div>
			</header>
		<main class="flex-auto container mx-auto max-w-3xl flex flex-wrap p-5 flex-col md:flex-row">
			<div class="text-justify w-full">
				<slot />
			</div>
		</main>
		<footer class="footer-before text-gray-400 body-font">
			<div class="container mx-auto flex flex-wrap p-1 place-content-center">
				<span class="footer-text"><a href="#main-header">Върни се в началото</a></span> |
				<span class="footer-text"><a href="/">Главна страница</a></span> |
				<span class="footer-text">
					<a href="https://www.facebook.com/ndebgcom/">
						<svg width="24" height="24" viewBox="0 0 24 24"
							fill="none" role="img" xmlns="http://www.w3.org/2000/svg">
							<title>Facebook страница</title>
							<path
								d="M9.19795 21.5H13.198V13.4901H16.8021L17.198 9.50977H13.198V7.5C13.198 6.94772 13.6457 6.5 14.198 6.5H17.198V2.5H14.198C11.4365 2.5 9.19795 4.73858 9.19795 7.5V9.50977H7.19795L6.80206 13.4901H9.19795V21.5Z"
								fill="currentColor"
							/>
						</svg>
					</a></span>
			</div>
		</footer>
		<footer class="footer-links text-gray-400 body-font">
			<div class="container mx-auto flex flex-wrap p-5 place-content-center">
				<span class="footer-text">©2007-<span id="currentYear">{year}</span> ndebg.com</span> | 
				<span class="footer-text"><a href="/license/">Лицензи</a></span> | 
				<span class="footer-text"><a href="/privacy-policy/">Декларация за поверителност</a></span> | 
				<span class="footer-text"><a href="/legal-notice-and-disclaimer/">Отказ от права</a></span>
			</div>
		</footer>
		<script>
			const year = new Date().getFullYear();
			document.addEventListener("DOMContentLoaded", function(){
				const yearEl = document.getElementById("currentYear");
				if (yearEl) { yearEl.innerHTML = year + "";}
			});
		</script>
	</body>
</html>
<style>
:root {
	--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
	--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

	--color-text: hsl(12, 5%, 4%);
	--color-bg: hsl(10, 21%, 95%);
	--color-border: hsl(17, 24%, 90%);
}

:global(h1) {
	font-size: var(--font-size-lg);
	font-weight: bold;
}

:global(h2) {
	font-size: var(--font-size-base);
}

:global(code) {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}
</style>

<style is:global>
html {
	font-family: system-ui, sans-serif;
	font-size: var(--font-size-base);
	color: var(--color-text);
	/* background-color: var(--color-bg); */
	background-color: #F0F8FF;
}
body {
	margin: 0;
}

.header-top {
	background-color: #B3DBFF;
}
.header-title{
	color: #005A9C;
}
header h2 {
	color: #005A9C;
}
.header-menu {
	background-color: #FFFEF0;
}
.header-menu a:hover {
	background-color: #FFE188;
	background-repeat: repeat-x;
}
.header-menu a:active {
	color: #00000;
	background-color: #FFE188;
}
.header-menu-active {
	color: #00000;
	background-color: #FFE188;
}

main h1 {
	text-align: center;
    color: #005A9C;
}

main h2,
main h3 {
	padding-top: 1rem;
	font-weight: bold;
    color: #005A9C;
}
main h1, main h2 {
	width: 100%;
	padding-bottom: 0.5rem;
}
main p {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
main hr {
	height: 0.2rem;
	background-color: #B3DBFF;
}

main a,
.footer-links .footer-text a:link {
    font-weight: bold;
    text-decoration: none;
    color: #4383EC;
}

main a:hover,
main a:active {
    color: #0f49a5;
}

main ul, main ol {
	list-style: inherit;
    margin: revert;
    padding: revert;
}
.footer-before {
	background-color: #e5f3ff;
}
.footer-links {
	background-color: #cce7ff;
} 
.footer-text {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

</style>